* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(180deg, #0F0E3C 0.52%, #111129 35.11%, #110421 72.4%, #1C0539 97.4%) fixed;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
.botao_especial:hover {
  background-color: #FFCB05;
  transition: background-color 0.5s;
  color: black;
}
.botao_especial i {
  margin-left: 2%;
}
.container {
    display: flex;
    width: 80%;
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
  }
  
  .menu_log {
    display: flex;
    background-color: black;
    height: auto;
    padding: 0.3% 2% 0.4% 2%;
    
  }
  
  .lista_log {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: auto;
    gap: 1.0vw;
  }
  
  .lista_log a, li {
    color: white;
    font-weight: 500;
    font-size: 0.9vw;
    text-decoration: none;
    cursor: pointer;
  }
  
  .lista_log a:hover {
    color: gray;
  }
  
  header {
    height: auto;
    display: flex;
    align-items: center;
    padding-bottom: 0.5%;
  }
  
  header .container {
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    max-height: 100px;
    gap: 1.5vw;
    overflow: hidden;
    margin: 0;
    text-align: center;
  }
  
  @media only screen and (min-width: 768px) {
    .navbar {
      flex-direction: row;
      align-items: center;
      width: auto;
    }
  }
  
  .navbar li {
    height: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    padding: 4% 0%;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 500;
    padding: 0% 5%;
    font-family: "Montserrat Ace Medium";
  }

  .navbar a:hover {
    font-weight: 600;
    text-align: center;
    color: #FFCB05;
  }
  .banner {
    width: 100%;
    height: 80%;
    background-image: 
    linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%),
    url("../imagens/Banner_cartas.png");
    background-color: white;
    margin-bottom: 5%;
  }
  .banner .container {
    height: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
  }
  .banner h1 {
    color: white;
    height: auto;
    width: 60%;
    margin: 0% 0% 2% 0%;
    font-size: 2.5vw;
}
.banner h3 {
    color: white;
    height: auto;
    width: 50%;
    margin: 0% 0% 2% 0%;
    font-size: 1.5vw;
    font-weight: 100;
}
.banner button {
    width: 35%;
    height: 10%;
    margin: 2.5% 0% 5% 0%;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: #252525;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Seção sobre*/

.secao_sobre {
    width: 100%;
    height: 70%;
    background-color: white;
}
.secao_sobre .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    justify-content: center;
}
.secao_sobre img {
    max-width: 50.5%;
    height: auto;
    width: auto;
}
.conteudo_lateral {
    padding: 4%;
    width: 49.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.conteudo_lateral h1 {
  font-size: 30pt;
}
.conteudo_lateral h4 {
  font-weight: lighter;
  font-size: 24px;
  line-height: 24px;
}
.conteudo_lateral hr {
  margin: 5% 0;
  border: 1px solid black;
  width: 80%;
}
.conteudo_lateral button {
  margin-top: 10%;
  width: 70%;
  height: 12.5%;
  color: white;
  background-color: #252525;
  border: none;
  border-radius: 5px;
  font-weight: bold
}
.cima {
  padding-top: 1%;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
  
}
.baixo {
  padding-bottom: 1%;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25)
}
/* Seção nossa ferramenta*/

.secao_ferramenta {
  width: 100%;
  height: 70%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
.secao_ferramenta img {
  width: auto;
  height: auto;
  max-width: 30%;
  max-height: 70%;
  margin-left:5%;
}
.texto_lateral {
  width: 90%;
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto_lateral hr {
  margin: 1% 0 5% 0;
  width: 40%;
}
.texto_lateral p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
}
.texto_lateral button {
  margin-top: 5%;
  width: 55%;
  padding: 1.5%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.3vw;
  font-weight: bold;
}

/* Seção raridade das cartas */

.secao_raridade {
  width: 100%;
  height: 95%;
  color: black;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.secao_raridade .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
.texto_e_carta {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.texto_raridade {
  width: 60%;
  padding: 5% 3% 0% 0%;
}
.texto_raridade hr {
  margin: 1% 0 5% 0;
  width: 40%;
  border: 1px solid black;
}
.texto_raridade h1 {
  font-size: 2.5vw;
}
.texto_raridade p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
}
.raridades {
  width: 50%;
  margin-top: 5%;
}

#card {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 1.5s;
  width: 40%;
  margin-top: 5%;
}
.face {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  width: 270px;
  height: 370px;
  border-radius: 20px;
}
.Lycanroc_GX {
  width: 292.5px;
  height: 380px;
}
.Tapu_lele_GX {
  width: 330px;
  height: 380px;
}
.Mewtwo_GX {
  width: 282.5px;
  height: 370px;
}
.Cynthia {
  width: 292.5px;
  height: 380px;
}

.back_card {
  width: 262.5px;
  height: 367.5px;
  padding-top: 4.8%;
  transform: rotateY(180deg);
}
#front {
  transform: translateY(0deg);
  backface-visibility: hidden;
}
.sumiu {
  opacity: 0;
}
.flip {
  transform: rotateY(360deg);
}

.card:hover {
  animation-play-state: paused;
}
/*Seção colecões*/

.secao_colecoes {
  height: auto;
  color: white;
  margin-bottom: 5%;
}
.secao_colecoes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}
.select_img {
  margin-top: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.select_img h2 {
  margin-left: 2%;
  font-weight: 700
}
.linha_do_tempo {
  width: 98%;
  margin-top: 8%;
}
.icones_colecoes {
  display: flex;
  width: 100%;
  padding-left: 2.25%;
}
.icones_colecoes img {
  height: 49px;
  width: 49px;
  margin-top: 5%;
}
#iprisma {
  margin-left: 2.4%;
}
#iburning {
  margin-left: 2.2%;
}
#iv {
  margin-left: 2.2%;
}
#iasa {
  margin-left: 2.2%;
}
#iprismatico {
  margin-left: 2%;
}
#icrisis {
  margin-left: 2%;
}
#ibola {
  margin-left: 1.9%;
}
#idragao {
  margin-left: 1.9%;
}
#ithunder {
  margin-left: 1.8%;
}
#ibonds {
  margin-left: 1.8%;
}
#iplanta {
  margin-left: 2.2%;
}
#ibonds_2 {
  margin-left: 2%;
}
#ishiny {
  margin-left: 2%;
}
#ihexagono {
  height: 51.5px;
  margin-left: 1.8%;
}

.colecao_detalhe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 10% 0 3% 0;
  overflow: hidden;
}
.colecao_detalhe img {
  width: 65px;
  height: 65px;
}
.colecao_detalhe h2{
  font-size: 2vw;
  margin-left: 2%;
}
.texto_detalhe {
  width: 80%;
  font-size: 1.8vw;
  font-weight: lighter;
  overflow: hidden;
}
.texto_detalhe img {
  margin-top: 8%;
  width: 100%;
}
.transicao {
  animation: subir 0.8s ease-in-out forwards;
}
@keyframes subir {
  0% {
    transform: translateY(200px);
    opacity: 0
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Footer */

footer {
  width: 100%;
  height: 30%;
  background-color: black;
  border-top: 3px solid #339FEE;
}

