* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #090718;
    width: 100%;
    height: 100vh;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}
#div_pop_up {
    display: none;
}
#blur {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.logomarca:hover {
    cursor: pointer;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
    height: 100%;
}

.sidebar .logomarca {
    width: 70%;
    margin: 10% 10% 10% 15%;
}

.sidebar hr {
    margin: 0 5%;
}

.sidebar a {
    color: #7a7a7a;
    display: block;
    text-decoration: none;
    margin: 5% 0% 10% 0%;
    padding: 4% 0 4% 10%;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    height: 50%;
    color: #8B0000;
}
a.ativado {
    color: white;
    
}

.sidebar i {
    width: 10%;
    margin: 6% 10% 4% 10%;
}

.sidebar a:hover {
    transition: color 0.5s;
    color: #FFCB05;
    
} 

/* barra de navegação */

.caixa_maior {
    display: flex;
    flex-direction: column;
    width: 83%;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
    max-height: 100px;
    width: 100%;
    padding: 1% 0 3%;
    color: white;
}

header h2 {
    margin-top: 1%;
    margin-right: 25%;  
}

header div {
    display: flex;
    align-items: center;
}

.lupa {
    position:absolute;
    top: 40%; 
    right:5%;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    color: #acacac;
  }
  
  .pesquisar {
    position: relative;
    width: 500px;
  }
  
.barra_de_pesquisa{
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    margin-top: 2%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #8B0000;
    background: linear-gradient(180deg, #8B0000 0%, #B22222 100%);
    padding-left: 5%;
    color: white;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}
::-webkit-input-placeholder {
    color: #acacac;
  }

.lateral_icones {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;

}

.lateral_icones h4 {
    font-weight: normal;
    font-size: 1.1vw;
}

.lateral_icones .icone {
    width: 20%;
    max-width: 40px;
    height: 75%;
    background-color: #FFCB05;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone:hover {
    cursor: pointer;
}

.icone i {
    cursor: pointer;
    font-size: 20px;
    color: #090718;
}

.user {
    display: flex;
    width: 100%;
    align-items: center;
    height: 50%;
    margin: 1% 0 0 3%;
}

.lateral_icones .circulo {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: linear-gradient(130.31deg, #FFCB05 8.03%, #FFCB05 8.04%, #FF8C05 68.4%);
    margin: 0% 10% 0% 4%;
}

/* Seção dos botões */
.botoes {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 2% 2% 2% 0%;
    margin-bottom: 3%;
    background: transparent;
}
.botoes button {
    width: 15%;
    padding: 1% 0.6%;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.0vw;
    color: #acacac;
    border: none;
    cursor: pointer;
    background: transparent;
}
.botoes button:hover {
    /* background: linear-gradient(180deg,  #FF8C05 0%, #FFCB05 100%); */
    background: #FFCB05 ;
    transition: background 0.5s ease;
    color: black;
    font-weight: bold   ;
}

button.botao_ativado, button.registrador {
    background: #8B0000;
    background: linear-gradient(180deg, #8B0000 0%, #B22222 100%);
    color: white;
}
.registrador {
    margin-left: 5%;
}
.registrador i {
    margin-right: 7px;
}

/* Registrar cartas */

.pop_up {
    position: absolute;
    width: 50%;
    height: auto;
    max-height: 95%;
    background-color: #232C5F;
    color: white;
    border-radius: 5px;
    top: 10%;
    left: 25%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.pop_up h3 {
    text-align: center;
    margin-bottom: 0.5%;
    font-size: 1.5vw;
}

.pop_up hr {
    width: 30%;
    align-self: center;
    border: 1px solid #8B0000;
}

.pop_up h4 {
    font-size: 1.1vw;
    margin: 2% 0 2% 0;
    font-weight: normal;
}

.pop_up input {
    width: 90%;
    margin: 0 5%;
    padding: 0.5%;
}

.pop_up button {
    margin-top: 5%;
    align-self: center;
    width: 20%;
    padding: 2% 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1vw;
    background-color: #FFCB05;
    border: none;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

/* Caixa dos gráficos */
#secao_visao_geral {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa_graficos {
    width: 90%;
    min-height: 125vh;
    height: auto;
    background-color: #3662AD;
    margin: 0 0 4% 0;
    border-radius: 10px;
    border: 15px solid #232C5F;
    display: flex;
    flex-direction: column;
}
.titulo_caixa_graficos {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    color: white;
    background-color: #232C5F;
    padding-bottom: 1%;
    padding-left: 2%;
    box-sizing: border-box;
}
.sub_secao_1 {
    width: 100%;
    height: 40%;
    margin: 1.5%;
    display: flex;
    gap:1.5%
}
.caixa_1{
    width: 50%;
    height: 100%;
    background-color: #232C5F;
    border-radius: 10px;
}
.caixa_2 {
    width: 45.5%;
    height: 100%;
    background-color: #232C5F;
    border-radius: 10px;
}
.caixa_3 {
    width: 97%;
    height: 50%;
    background-color: #232C5F;
    border-radius: 10px;
    margin: 0 1.5% 1.5% 1.5%;
}
#cardData {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#cardData img {
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    height: 20%;
}
#cardData img:hover {
    transform: scale(1.1,1.1);
    transition: transform 0.5s;
}