
  .banner {
    width: 100%;
    height: 80%;
    background-image: 
    linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.8) 75%),
    url("../imagens/Banner_cartas.png");
    background-color: white;
    /* margin-bottom: 5%; */
  }
  .banner .container {
    height: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
  }
  .banner h1 {
    color: #FFCB05;
    height: auto;
    width: 60%;
    margin: 0% 0% 1% 0%;
    font-size: 2.5vw;
}
.banner hr {
  border-color: #FFCB05;
  width: 45%;
  margin: 0% 0% 1% 0%;
}
.banner h3 {
    color: white;
    height: auto;
    width: 50%;
    margin: 0% 0% 2% 0%;
    font-size: 1.5vw;
    font-weight: 100;
}
.banner button {
    width: 35%;
    height: 10%;
    margin: 2.5% 0% 5% 0%;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: #252525;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Seção sobre*/

.secao_sobre {
    width: 100%;
    height: 70%;
    background-color: white;
}
.secao_sobre .container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    justify-content: center;
}
.secao_sobre img {
    max-width: 60%;
    height: auto;
    width: auto;
}
.conteudo_lateral {
    padding: 4%;
    width: 41.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.conteudo_lateral h1 {
  font-size: 2vw;
}
.conteudo_lateral h4 {
  font-weight: lighter;
  font-size: 1.4vw;
  line-height: 20px;
}
.conteudo_lateral hr {
  margin: 5% 0;
  border: 1px solid black;
  width: 80%;
}
.conteudo_lateral button {
  margin-top: 10%;
  width: 70%;
  padding: 5% 0;
  box-sizing: border-box;
  color: white;
  background-color: #252525;
  border: none;
  border-radius: 5px;
  font-weight: bold
}
.cima {
  padding-top: 1%;
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
  
}
.baixo {
  padding-bottom: 1%;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25)
}
/* Seção nossa ferramenta*/

.secao_ferramenta {
  width: 100%;
  height: 70%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
.secao_ferramenta img {
  height: auto;
  width: 40%;
  max-height: 70%;
  margin-left:5%;
}
.texto_lateral {
  width: 90%;
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto_lateral hr {
  margin: 1% 0 5% 0;
  width: 40%;
}
.texto_lateral p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
}
.texto_lateral button {
  margin-top: 5%;
  width: 55%;
  padding: 1.5%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1.3vw;
  font-weight: bold;
}
.texto_lateral button:hover {
  background-color: #FFCB05;
  transition: background-color 0.25s;
}
/* Seção raridade das cartas */

.secao_raridade {
  width: 100%;
  height: auto;
  color: black;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.secao_raridade .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  padding-bottom: 3%;
}
.texto_e_carta {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.texto_raridade {
  width: 60%;
  padding: 5% 3% 0% 0%;
  box-sizing: border-box;
}
.texto_raridade hr {
  margin: 1% 0 5% 0;
  width: 40%;
  border: 1px solid black;
}
.texto_raridade h1 {
  font-size: 2.5vw;
}
.texto_raridade p {
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
}
.raridades {
  width: 50%;
  margin-top: 5%;
  filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.4));
}

#card {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 1.5s;
  width: 40%;
  margin-top: 5%;
}
.face {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  width: 270px;
  height: 370px;
  border-radius: 20px;
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.36));
}
.Lycanroc_GX {
  width: 292.5px;
  height: 380px;
}
.Tapu_lele_GX {
  width: 330px;
  height: 380px;
}
.Mewtwo_GX {
  width: 282.5px;
  height: 370px;
}
.Cynthia {
  width: 292.5px;
  height: 380px;
}

.back_card {
  width: 262.5px;
  height: 367.5px;
  padding-top: 4.8%;
  transform: rotateY(180deg);
}
#front {
  transform: translateY(0deg);
  backface-visibility: hidden;
}
.sumiu {
  opacity: 0;
}
.flip {
  transform: rotateY(360deg);
}

.card:hover {
  animation-play-state: paused;
}
/*Seção colecões*/

.secao_colecoes {
  height: auto;
  color: white;
  margin-bottom: 5%;
}
.secao_colecoes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}
.select_img {
  margin-top: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.select_img h2 {
  margin-left: 2%;
  font-weight: 700
}
.linha_do_tempo {
  width: 98%;
  margin-top: 8%;
}
.icones_colecoes {
  display: flex;
  width: 100%;
  padding-left: 2.25%;
}
.icones_colecoes img {
  height: 49px;
  width: 49px;
  margin-top: 5%;
}
#iprisma {
  margin-left: 2.4%;
}
#iburning {
  margin-left: 2.2%;
}
#iv {
  margin-left: 2.2%;
}
#iasa {
  margin-left: 2.2%;
}
#iprismatico {
  margin-left: 2%;
}
#icrisis {
  margin-left: 2%;
}
#ibola {
  margin-left: 1.9%;
}
#idragao {
  margin-left: 1.9%;
}
#ithunder {
  margin-left: 1.8%;
}
#ibonds {
  margin-left: 1.8%;
}
#iplanta {
  margin-left: 2.2%;
}
#ibonds_2 {
  margin-left: 2%;
}
#ishiny {
  margin-left: 2%;
}
#ihexagono {
  height: 51.5px;
  margin-left: 1.8%;
}

.colecao_detalhe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 10% 0 3% 0;
  overflow: hidden;
}
.colecao_detalhe img {
  width: 65px;
  height: 65px;
}
.colecao_detalhe h2{
  font-size: 2vw;
  margin-left: 2%;
}
.texto_detalhe {
  width: 80%;
  font-size: 1.8vw;
  font-weight: lighter;
  overflow: hidden;
  margin: auto; 
}
.texto_detalhe img {
  margin-top: 8%;
  width: 100%;
}
.transicao {
  animation: subir 0.8s ease-in-out forwards;
}
@keyframes subir {
  0% {
    transform: translateY(200px);
    opacity: 0
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
input {
  height: 40px;
  width: 30%;
  padding: 5px 5px 0px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: transparent;
  border: none;
  margin-left: 1.5%;
  font-size: 26px;
  font-weight: 600;
}

::-webkit-input-placeholder {
  color: #7a7a7a;
  font-size: 26px;
  font-weight: 600;
}
.section_teste {
  width: 85%;

}
.dropDown {
  width: 30%;
  background-color: #339FEE ;
  color: #252525;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  height: 40%;
  overflow: auto;
  display: none;
  transform: translate(0px, -10px);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #1d1d1d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 5px;
}

.item {
  height: 25%;
  padding: 0px 5px;
  box-sizing: border-box;
  transition: .3s;
  cursor: pointer;
}

.item:hover {
  background-color: #121212;
  color: white;
  padding-left: 7px;
  transition: .3s;
}
#logo_geracao {
  max-width: 68px;
}
/* Footer */


