  .blur {
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;    
  }
  .apareceu {display: flex;}
  .sumiu {display: none;}
  .imagem_pikachu {
    max-width: 200px;
    transform: rotateY(180deg);
  }
  /*Seção formulários */
  .section {
    width: auto;
    height: auto;
  }
  .secao_form {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  form {
    background-color: white;
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 2.5%;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .entrar {
    margin-right: 10%;
  }
  .cadastro {
    margin-left: 10%;
  }
  form h1 {
    margin-bottom: 1%;
    text-align: center;
    font-size: 28px;
    font-family: 'Montserrat Ace SemiBold';
  }
   form hr {
    margin-bottom: 5%;
    border-color: black;
    width: 30%;
    margin: auto auto 7% auto;
  }
   form input {
    margin: 3% 0 3% 5%;
    padding: 1.5%;
    font-size: 15px;
    border-radius: 2px;
    background-color: #d9d9d9;
    border: none;
  }
  form label {
    font-weight: bold;
    font-size: 18px;
  }
  form button {
    width: 35%;
    margin: 3% auto 0 auto;
    padding: 5% 0;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: #252525;
    color: white;
  }

  /* Bloco cobrir */

  .bloco {
    width: 53%;
    position: absolute;
    height: 100vh;
    background-color: white;
    background: linear-gradient(180deg, #4639DB 0%, #339FEE 100%);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  .bloco h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Montserrat Ace Medium';
  }
  .bloco button {
    width: 30%;
    margin: 20% 0;
    padding: 4% 0;
    font-family: 'Montserrat Ace Medium';
    font-size: 26px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
  }
  /* Animações  bloco*/

  @keyframes esquerda {
    0% {
      transform: translateX(88.7%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes direita {
    0% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(88.7%);
    }
  }
  
  .esquerda {
    animation: esquerda 1.5s forwards ease-in-out;
  }
  
  .direita {
    animation: direita 1.5s forwards ease-in-out;
  }

  